body {
  background-color: #64a882;
  transition: background-color 0.3s ease; /* Transición suave al redimensionar */
}

@media screen and (min-width: 481px) {
  body {
    background-color: #f9da5f;
  }
}

@media screen and (min-width: 769px) {
  body {
    background-color: #1e1e1e;
    color: #f5f2eb;
  }
}

@media (min-width:769px) {
  html{
    font-size: 16px;
  }
  a {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
  a {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  html {
    font-size: 12px;
  }
  a {
    font-size: 12px;
  }
}